---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Daniel Wang">
  <br />
  <!-- <p><a href="https://github.com/danielwang365">dwang</a>/README.txt</p> -->
  <p><strong>Daniel Wang</strong></p>
  <p> I build things to help people - ML for epilepsy, brain-computer interfaces, prosthetics </p>

  <p style="margin:0; line-height:1.5;">Projects <a href="/projects">here</a></p>
  <p style="margin:0; line-height:1.5;">Resume <a href="/docs/Daniel Wang - Resume.pdf">here</a></p>

  <hr />

  <div class="list">
    <p class="list"><strong>BS/MS in Applied Mathematics & Statistics</strong> @ Johns Hopkins University</p>
  </div>

  <hr />

  <p class="list"><span>danielwang365</span> @ <a href="https://github.com/danielwang365">github</a></p>
  <p class="list"><span>Daniel Wang</span> @ <a href="https://linkedin.com/in/dwang118">linkedin</a></p>
  <p class="list">dwang118 [at] jhu [dot] edu</p>
</BaseLayout>
